<nav  class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
  <form class="d-flex w-25" role="search" method="post" action="/search">
                <input class="form-control me-2" type="search" name="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
                </div>
</nav>
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Full Name</th>
      <th scope="col">Email</th>
      <th scope="col">Password</th>
      <th scope="col">Phone No.</th>
      <th scope="col">Comments</th>
      <th scope="col">Status</th>
      <th scope="col">Role</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
    <tr>
      <th scope="row">{{id}}</th> <!-- User ID should be in the <th> -->
      <td>{{Fullname}}</td>
      <td>{{Email}}</td>
      <td>{{Password}}</td>
      <td>{{Phone}}</td>
      <td>{{comments}}</td>
      <td>{{status}}</td>
      <td>{{role}}</td>
      <td>
        {{!-- <a href="#" type="button" class="btn btn-small btn-light">
          <i class="bi bi-eye"></i>View
        </a> --}}
        <a href="/edit/{{id}}" type="button" class="btn btn-small btn-light">
          <i class="bi bi-pencil"></i>Edit
        </a>
        <a href="/delete/{{id}}" type="button" class="btn btn-small btn-light">
          <i class="bi bi-trash"></i>Delete
        </a>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>