<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Full Name</th>
      <th scope="col">Email</th>
      <th scope="col">Password</th>
      <th scope="col">Phone No.</th>
      <th scope="col">Comments</th>
      <th scope="col">Status</th>
      <th scope="col">Role</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
    <tr>
      <th scope="row"></th>
      <td>{{this.id}}</td>
      <td>{{this.Fullname}}</td>
      <td>{{this.Email}}</td>
      <td>{{this.Password}}</td>
      <td>{{this.Phone}}</td>
      <td>{{this.comments}}</td>
       <td>{{this.status}}</td>
        <td>{{this.role}}</td>
      <td>
        <a href="#" type="button" class="btn btn-small btn-light"><i class="bi bi-eye"></i>View</a>
        <a href="#" type="button" class="btn btn-small btn-light"><i class="bi bi-pencil"></i>Edit</a>
        <a href="#" type="button" class="btn btn-small btn-light"><i class="bi bi-trash"></i>Delete</a>
      </td>
    </tr>
    {{/each}}
  
  </tbody>
</table>